.infobar {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-orange);
  border-color: var(--border-orange);
  border-style: solid;
  border-width: 1px;
  padding: 6px 10px;
  color: var(--text);
  word-wrap: break-word;
  font-size: 14px;
}

.mdContainerReplying {
  border-left: var(--reply-child-border-left);
  margin-left: 25px;
}

.urlHidden, .spoilerHidden {
  display: none;
}

.urlVisible, .spoilerVisible {
  display: inline-block;
}

.markdownHelp {
  display: block;
  padding: 4px 4px 0px 4px;
  margin-top: 5px;
  border-top: 1px dotted #c0c0c0;
}

.markdownHelp table {
  width: 100%;
  margin-top: 5px;
  font-weight: 400;
  color: var(--text-markdown);
  font-size: 14px;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

.tableFirstRow {
  background-color: var(--yellow-table);
  text-align: center;
  text-transform: lowercase;
  font-style: italic;
}

.markdownHelp tr {
  margin: 0;
}

.markdownHelp td {
  padding: 5px;
  width: 50%;
  border: 1px solid var(--gray);
  text-align: left;
  padding: 4px 9px;
  line-height: 20px;
}

.markdownHelp p {
  margin: 0;
}

@media (max-width: 640px) {
  .markdownHelp table {
    font-size: 13px;
  }
  
  .markdownHelp td {
    padding: 3px 5px;
    word-break: break-word;
    hyphens: auto;
  }
}

.spaces {
  background-color: var(--gray);
}